<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="container column">
            <h1>This is not a valid help command, sorry!</h1>
        </header>
        {{>footer}}
    </body>
</html>